.DS_Store
*.trace
*.pyc
.project
.pydevproject
.idea
*.xcuserstate
*.xcscheme
*.xcworkspacedata
xcschememanagement.plist

appium/calibration/RobotCalibration/RobotCalibration.xcodeproj/xcuserdata/*
appium/robot/bitbeambot-d2/calibration.pickle
